// animations
// slide from top right corner
// slide out to top right corner
.slide-from-top-right-enter {
    transform-origin: top right;
    transform: scale(0);
    opacity: 0;
}

.slide-from-top-right-enter-active {
    transform: scale(1);
    transition: all 200ms ease-in;
    opacity: 1;
}

.slide-from-top-right-exit {
    transform-origin: top right;
    opacity: 1;
    transform: scale(1);
}

.slide-from-top-right-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: all 200ms ease-in;
}

// slide in from left
// side out to left
.slide-from-left-enter {
    position: absolute;
    transform: translate(-110%, 0);
}

.slide-from-left-enter-active {
    transform: translate(0, 0);
    transition: all 200ms ease-in;
}

.slide-from-left-exit {
    transform: translate(0, 0);
}

.slide-from-left-exit-active {
    position: absolute;
    transform: translate(-110%, 0);
    transition: all 200ms ease-in;
}

// slide in from right
// slide out to right
.slide-from-right-enter {
    transform: translate(110%, 0);
    opacity: 0;
}

.slide-from-right-enter-active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 200ms ease-in;
}

.slide-from-right-exit {
    transform: translate(0, 0);
    opacity: 1;
}

.slide-from-right-exit-active {
    transform: translate(110%, 0);
    opacity: 0;
    transition: all 200ms ease-in;
}

// zoom in from center
// zoom out to center
.zoom-in-from-center-enter {
    opacity: 0;
    transform: scale(0);
}

.zoom-in-from-center-enter-active {
    opacity: 1;
    transform: scale(1);
    transition: all 200ms ease-in;
}

.zoom-in-from-center-exit {
    opacity: 1;
    transform: scale(1);
}

.zoom-in-from-center-exit-active {
    opacity: 0;
    transform: scale(0);
    transition: all 200ms ease-in;
}