// variables
$closeIcon: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS42NyAxNS42NyI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOm5vbmU7c3Ryb2tlOiNjY2M7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDozcHg7fTwvc3R5bGU+PC9kZWZzPjxnIGlkPSJMYXllcl8yIiBkYXRhLW5hbWU9IkxheWVyIDIiPjxnIGlkPSJMYXllcl8xLTIiIGRhdGEtbmFtZT0iTGF5ZXIgMSI+PGxpbmUgY2xhc3M9ImNscy0xIiB4MT0iMTQuMTciIHkxPSIxLjUiIHgyPSIxLjUiIHkyPSIxNC4xNyIvPjxsaW5lIGNsYXNzPSJjbHMtMSIgeDE9IjE0LjE3IiB5MT0iMTQuMTciIHgyPSIxLjUiIHkyPSIxLjUiLz48L2c+PC9nPjwvc3ZnPg==";
$checkIcon: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMS4wNTciIGhlaWdodD0iNy45MDUiIHZpZXdCb3g9IjAgMCAxMS4wNTcgNy45MDUiPjxkZWZzPjxzdHlsZT4uYXtmaWxsOm5vbmU7c3Ryb2tlOiM0MjQyNDI7c3Ryb2tlLWxpbmVjYXA6cm91bmQ7c3Ryb2tlLWxpbmVqb2luOnJvdW5kO3N0cm9rZS13aWR0aDoycHg7b3BhY2l0eTowLjU0O308L3N0eWxlPjwvZGVmcz48cGF0aCBjbGFzcz0iYSIgZD0iTTcwMS4yNTksMzc1Ljg3MmwyLjcyMiwyLjc3MSw1LjUwNy01LjQ5MSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTY5OS44NDUgLTM3MS43MzcpIi8+PC9zdmc+";
$warningIcon: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIGNsYXNzPSJmZWF0aGVyIGZlYXRoZXItYWxlcnQtdHJpYW5nbGUiPjxwYXRoIGQ9Ik0xMC4yOSAzLjg2TDEuODIgMThhMiAyIDAgMCAwIDEuNzEgM2gxNi45NGEyIDIgMCAwIDAgMS43MS0zTDEzLjcxIDMuODZhMiAyIDAgMCAwLTMuNDIgMHoiPjwvcGF0aD48bGluZSB4MT0iMTIiIHkxPSI5IiB4Mj0iMTIiIHkyPSIxMyI+PC9saW5lPjxsaW5lIHgxPSIxMiIgeTE9IjE3IiB4Mj0iMTIuMDEiIHkyPSIxNyI+PC9saW5lPjwvc3ZnPg==";
$infoIcon: "data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBzdGFuZGFsb25lPSJubyI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgY2xhc3M9Imljb24iIHZpZXdCb3g9IjAgMCAxMDI0IDEwMjQiPgogIDxwYXRoIGQ9Ik00NDggODA0YTY0IDY0IDAgMSAwIDEyOCAwIDY0IDY0IDAgMSAwLTEyOCAwem0zMi0xNjhoNjRjNC40IDAgOC0zLjYgOC04VjE2NGMwLTQuNC0zLjYtOC04LThoLTY0Yy00LjQgMC04IDMuNi04IDh2NDY0YzAgNC40IDMuNiA4IDggOHoiLz4KPC9zdmc+Cg==";

$toastBg: #ffffff;
$successColor: #52c9a9;
$errorColor: #f03535;
$warningColor: #F58220;
$infoColor: #5752c9;

@mixin OrangeFilterForSvg {
    filter: saturate(100%) brightness(0%) invert(74%) sepia(39%) saturate(5567%) hue-rotate(342deg) brightness(95%) contrast(102%);
}

@mixin GreenFilterForSVG {
    filter: saturate(100%) brightness(0%) invert(79%) sepia(8%) saturate(2573%) hue-rotate(111deg) brightness(92%) contrast(77%);
}

@mixin WhiteFilterForSVG {
    filter: saturate(100%) brightness(0%) invert(100%);   
}

@mixin redFilterForSVG {
    filter: brightness(0) saturate(100%) invert(26%) sepia(51%) saturate(3968%) hue-rotate(345deg) brightness(97%) contrast(93%);
}
@mixin blueFilterForSVG {
    filter: saturate(100%) brightness(0%) invert(28%) sepia(84%) saturate(1606%) hue-rotate(228deg) brightness(87%) contrast(83%);

}

.toast-container {
    position: fixed;
    background: transparent;
    width: auto;
    max-width: 350px;
    height: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;

    /* width */
    &::-webkit-scrollbar {
        width: 0px;
    }


    .toast {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        padding: 12px;
        border-radius: 6px;
        background-color: $toastBg;
        margin: 10px auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;

        .icon {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: transparent;
            display: none;
            margin-right: 10px;
        }

        .toast-content {
            width: auto;
            max-width: 230px;
            height: auto;
            background-color: transparent;
            padding: 4px;
            margin-right: 30px;

            &.no-mr {
                margin-right: 0;
            }

            .title {
                width: auto;
                height: auto;
                display: block;
                font-weight: 900;
                text-transform: uppercase;
                padding: 4px 10px;
                font-size: 14px;
            }

            .content {
                width: auto;
                height: auto;
                display: block;
                padding: 4px 10px;
                font-size: 13px;
                text-align: left;
            }
        }

        .close {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            background-color: transparent;
            background-image: url($closeIcon);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 40%;
            cursor: pointer;
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-50%);

            &:hover {
                box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.12);
            }
        }

        &.success {
            .icon {
                display: block;
                background-image: url($checkIcon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
                border: 1px solid $successColor;
                @include GreenFilterForSVG();
            }

            .toast-content {
                .title {
                    color: $successColor;
                }

                .content {
                    color: $successColor;
                }
            }
        }

        &.error {
            .icon {
                display: block;
                background-image: url($closeIcon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
                border: 1px solid $errorColor;
                @include redFilterForSVG();
            }

            .toast-content {
                .title {
                    color: $errorColor;
                }

                .content {
                    color: $errorColor;
                }
            }
        }

        &.warning {
            .icon {
                display: block;
                background-image: url($warningIcon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 70%;
                border: 1px solid $warningColor;
                @include OrangeFilterForSvg();
            }

            .toast-content {
                .title {
                    color: $warningColor;
                }

                .content {
                    color: $warningColor;
                }
            }
        }

        &.info {
            .icon {
                display: block;
                background-image: url($infoIcon);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
                border: 1px solid $infoColor;
                @include blueFilterForSVG();
            }

            .toast-content {
                .title {
                    color: $infoColor
                }

                .content {
                    color: $infoColor;
                }
            }
        }
    }

    &.bottom-right {
        bottom: 20px;
        right: 20px;

        .toast {
            &.show {
                animation: slide-to-left-from-right 0.3s;
                // animation-fill-mode: forwards;
            }
            &.hide {
                animation: fade-out 0.3s;
                // animation-fill-mode: forwards;
            }
        }
    }

    &.bottom-left {
        bottom: 20px;
        left: 20px;

        .toast {
            &.show {
                animation: slide-to-right-from-left 0.3s;
                // animation-fill-mode: forwards;
            }
            &.hide {
                animation: fade-out 0.3s;
                // animation-fill-mode: forwards;
            }
        }
    }

    &.top-right {
        top: 20px;
        right: 20px;

        .toast {
            &.show {
                animation: slide-to-left-from-right 0.3s;
                // animation-fill-mode: forwards;
            }
            &.hide {
                animation: fade-out 0.3s;
                // animation-fill-mode: forwards;
            }
        }
    }

    &.top-left {
        top: 20px;
        left: 20px;

        .toast {
            &.show {
                animation: slide-to-right-from-left 0.3s;
                // animation-fill-mode: forwards;
            }
            &.hide {
                animation: fade-out 0.3s;
                // animation-fill-mode: forwards;
            }
        }
    }
}

@keyframes slide-to-left-from-right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

@keyframes slide-to-right-from-left {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes slide-to-right {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
