.widget {
    width: 50%;
    height: auto;
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

    .widget-header {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 15px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.12);

        .wh-title {
            width: auto;
        }

        .wh-toolbar {
            width: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            .burger-menu {
                width: 30px;
                height: 30px;
                border-radius: 6px;
                background-color: #ecebeb;
                background-image: url("/assets/images/burger-menu.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: 50%;
                cursor: pointer;
            }
        }
    }

    .widget-body {
        width: 100%;
        height: auto;
        min-height: 100px;
        max-height: 250px;
        overflow-y: auto;
        padding: 10px 15px;
        margin: auto;
        box-sizing: border-box;
        text-align: justify;
    }
}
